body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
}
h1 {
  color: #333;
}
h2{
  color: red;
}
form {
  margin-bottom: 20px;
}
input, select, button {
  padding: 8px;
  margin-right: 10px;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
